html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration:none;	
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
ol, ul {
  list-style: none;
}

/*blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}*/

body {
	font-family: "微軟正黑體",Microsoft JhengHei,"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:18px/22px;
	background-image:url(../images/bglogo.jpg) ;
	width:100%;
	height:auto;
/*	overflow-y: auto; 
	overflow-x: hidden;  */
}

.container {
	position: relative;
	margin: 0 auto;
	width: 100%;
	height:100%;
  /*margin: 80px auto;
  width: 640px;
  margin: 100px auto;*/
}

.top{
	display: block;
	width:100%;
	min-height:340px;
	margin: 0 auto;
	background: url(../images/topBG2000.png) center no-repeat;
	background-size: cover;
	/*background: url(../images/topBG2000.png) no-repeat;
	background-size: cover;*/
	}

.step{
	width:100%;
	position:relative;
	/*background:#ED784A;*/
	text-align:center;
	font-size:27px;
	color:#b4b4b4;
	margin: 0 0 3% 0;
	padding: 0;
	border-bottom: 3px solid #ed6c00;
	font-family: 'Fjalla One', sans-serif ,  "微軟正黑體";
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #c8c8c8 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#c8c8c8 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #ffffff 0%,#c8c8c8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c8c8c8',GradientType=0 ); /* IE6-9 */
	}
	
.stepcolor{
	font-size:30px;
	color:#fef1e3;
	padding:0.2% 1.5% 0.2% 1.5%;
	background-color:#ed6c00;
	-moz-border-radius: 8px 8px 0 0 ;-webkit-border-radius: 8px 8px 0 0; border-radius: 8px 8px 0 0;	
}

.content{
	display: block;
	width: 100%;
	padding: 0;	
}
	
.GFlogin{
 width:48%; float: left; padding: 1% 0; font-size:24px;border:2px solid #e6e6e6;  text-align:center; color:#FFF;
-moz-border-radius: 4px;-webkit-border-radius:4px; border-radius:4px; cursor: pointer; 
background: #0081cc; /* Old browsers */
background: -moz-linear-gradient(top,  #0081cc 0%, #080059 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #0081cc 0%,#080059 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #0081cc 0%,#080059 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0081cc', endColorstr='#080059',GradientType=0 ); /* IE6-9 */
	}	
.GFplus{
 width:48%; padding: 1% 0; float: right; font-size:24px;border:2px solid #e6e6e6;  text-align:center; color:#FFF;
-moz-border-radius: 4px;-webkit-border-radius:4px; border-radius:4px; cursor: pointer; 
background: #ff0000; /* Old browsers */
background: -moz-linear-gradient(top,  #ff0000 0%, #680000 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #ff0000 0%,#680000 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #ff0000 0%,#680000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#680000',GradientType=0 ); /* IE6-9 */
	}	

.GFlogin a{ color:#FFF; }
.GFplus a{ color:#FFF;	}

.apply{
	clear: both;
	display: inline-block;
	width: 50%;
	margin:1% 25% 8% 25%;
	text-align: center;
}

.remember_me{
	display:block;
	padding:3% 0 2% 0;
	color: #4E4C4C;
	text-align: center;
}

.submitB{
	display: block;
	float: left;
	width:50%;
	padding:1% 0;
	font-size: 18px;
	color:#323232;
background: #e4f5fc;
background: -moz-linear-gradient(top,  #e4f5fc 0%, #bfe8f9 50%, #9fd8ef 51%, #2ab0ed 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #e4f5fc 0%,#bfe8f9 50%,#9fd8ef 51%,#2ab0ed 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #e4f5fc 0%,#bfe8f9 50%,#9fd8ef 51%,#2ab0ed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f5fc', endColorstr='#2ab0ed',GradientType=0 ); /* IE6-9 */
	}
	
/*.submitB:active {
  background: #9fd8ef;
}*/
	
.submitC{
	display: block;
	float:right;
	width:50%;
	padding:1% 0;
	font-size: 18px;
	color:#323232;
background: #fff5f5; /* Old browsers */
background: -moz-linear-gradient(top,  #fff5f5 0%, #ffdcdc 50%, #fdc8d2 51%, #ff7787 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #fff5f5 0%,#ffdcdc 50%,#fdc8d2 51%,#ff7787 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #fff5f5 0%,#ffdcdc 50%,#fdc8d2 51%,#ff7787 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff5f5', endColorstr='#ff7787',GradientType=0 ); /* IE6-9 */
	}

/*.submitC:active {
  background: #ffafb9;
}
*/
.down{
	display:block;
  width:100%;
  height: 100%;
 /* margin: -20px -20px 20px 0;*/
  /*padding:20px 20px;*/
  line-height: 40px;
  font-size: 18px;
  color: #555;
  text-align: center;
}

/*.giftB{ background-image: url(../images/giftBoder.png) ; width:90%; height:40px; margin:0 5%;}*/


.away{
	display:block;
	background-color:#2bafd7;
	-moz-border-radius: 2px;-webkit-border-radius:2px; border-radius:2px;
	color: #033; 
	text-align:center;
	font-size:20px;
	font-weight:600;
	background-image:url(../images/bg02.png);
}
.inwords{ text-align:justify; font-size:17px; width:100%; line-height:2px;}

.action{
	display: block;
	border-bottom:10px solid #2bafd7;
	margin:0 5%;
	text-align: justify;
	font-weight: normal;
	font-size: 20px;
	font-family: "微軟正黑體",
}

.exchang{
	display:block; width:100%; margin:1% 0;font-size:17px; margin:2% 0 4% 0;overflow:hidden;  line-height:30px; background-color: #ebe3c7;}
	
.exchang li{text-align:center;  }
.ex{ display:block; width:97%; background-color:#d5d1ac; line-height:30px; margin:0.5% 1.5%;  }
.exGF{display:block; float:left; width:24%; background-color:#B1B479;  margin:0 0 1% 1.5%;color:#FFF;}
.exGF2{ display:block;  float:left; width:24%; background-color:#B1B479; margin:0 0 1% 1.5%; color:#FFF;}
.exGFborder{ display:inline-block; float:left; width:72%;margin:0 1% 1% 1.5%;text-align:left; }
.exGF2border{ display:inline-block; float:left; width:72%; margin:0 1% 1% 1.5%; line-height:30px; text-align:left; }

.friend{
	display: inline-block;
	width: 100%;
	padding: 1% 0;
	/*min-height: 50px;*/
	line-height: 25px;
	border-bottom: 1px solid #9F9D9D;
	padding: 
}

.friendQR{
	display: block;
	width: 18%;
	height: 120px;
	float: left;
	background: url(../images/QRcord.jpg) top right no-repeat;
	background-size: contain;
}

.friendW{
	display: block;
	width: 80%;
	float: right;
	text-align: left;
	padding: 1% 0;
	line-height: 30px;
}

.goodfri{
	width: 100%;
	color: #071672;
	font-weight: 900;
}

.login {
  position: relative;
  margin: 0 auto;
  padding: 20px 20px 20px;
  width: 80%;
  background: white;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
}
.login:before {
  content: '';
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  z-index: -1;
  background: rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}
.login h1 {
  margin: -20px -20px 21px;
  padding:20px 20px;
  line-height: 40px;
  font-size: 20px;
  color: #555;
  text-align: center;
  background: #f3f3f3;
  border-bottom: 1px solid #cfcfcf;
  border-radius: 3px 3px 0 0;
  background-image: -webkit-linear-gradient(top, whiteffd, #eef2f5);
  background-image: -moz-linear-gradient(top, whiteffd, #eef2f5);
  background-image: -o-linear-gradient(top, whiteffd, #eef2f5);
  background-image: linear-gradient(to bottom, whiteffd, #eef2f5);
  webkit-box-shadow: 0 1px whitesmoke;
  box-shadow: 0 1px whitesmoke;
  text-align: center;
}
.login p {
  margin: 20px 0 0 0;
}

.login p:first-child {
  margin-top: 0;
}

.login input[type=text], .login input[type=password] {
  margin:0 5% 0 3%;
   width: 90%;
   font-size:20px;
  text-align:center;
  font-family: "微軟正黑體",Microsoft JhengHei,"Helvetica Neue", Helvetica, Arial, sans-serif;
}

:-moz-placeholder {
  color: #c9c9c9 !important;
  font-size: 13px;
}

::-webkit-input-placeholder {
  color: #ccc;
}

input {
  font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
}

input[type=text], input[type=password] {
  margin: 5px;
  padding: 0 2%;
  width: 100%;
  height: 34px;
  color: #404040;
  background: white;
  border: 1px solid;
  border-color: #c4c4c4 #d1d1d1 #d4d4d4;
  border-radius: 2px;
  outline: 5px solid #eff4f7;
  -moz-outline-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
}

.footer{ width:100%; text-align:center; padding:5% 0 2% 0; font-size:14px; color:#002e3f;}


/*---------------------------------------------------Page2---------------------------------------------------*/
.word2{
	line-height:35px;
	text-align:center;
	font-size:24px;
	color:#3c3c3c;
	letter-spacing:5px;
}

.nextstep2{
	display:block;
	width:20%;
	height:30px;
	text-align:center;
	color:#FFF;
	font-size:20px;
	padding:1% 5% ;
	margin:10% 35% 0 35%;
	background-color: rgba(75, 136, 194, 0.9);
	box-shadow: 1px 3px 3px 0 rgba(0, 0, 0, 0.08);
	border-radius: 2px;
	}

.relogin{
	display:block;
	float:left;
	width:20%;
	height:30px;
	text-align:center;
	color:#FFF;
	padding:1% 4% ;
	margin:3% 0% 0 20% ;
	background-color: rgba(222, 110, 60, 0.9);
	box-shadow: 1px 3px 3px 0 rgba(0, 0, 0, 0.08);
	border-radius: 2px;
	font-size:20px;
	}

.nextstep{
	display:block;
	float:right;
	width:20%;
	height:30px;
	text-align:center;
	color:#FFF;
	padding:1% 4% ;
	margin:3% 20% 0  0% ;
	background-color: rgba(75, 136, 194, 0.9);
	box-shadow: 1px 3px 3px 0 rgba(0, 0, 0, 0.08);
	border-radius: 2px;
	font-size:20px;
	}
	
.relogin2{
	display:block;
	height:30px;
	text-align:center;
	color:#FFF;
	padding:1% 0 ;
	margin:3% 35% 0 35% ;
	background-color: rgba(222, 110, 60, 0.9);
	box-shadow: 1px 3px 3px 0 rgba(0, 0, 0, 0.08);
	border-radius: 2px;
	font-size:20px;
	}
	
/*.relogin a{color:#FFF; font-size:20px;}
.nextstep a{color:#FFF; font-size:20px; }*/
i.fa-mobile{font-size:40px; }
i.fa-gift{font-size:36px; }

/*---------------------------------------------------Page3---------------------------------------------------*/
.onerow{
  width:90%;
  margin:0 5%;
  padding: 3% 0 10% 0;
  color: #404040;
  background: white;
  border: 1px solid;
  border-color: #c4c4c4 #d1d1d1 #d4d4d4;
  border-radius: 2px;
  outline: 5px solid #eff4f7;
  -moz-outline-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);	
	}
.onerow span{
	width:100%;
	float:left;
	text-align:center;
	font-size:25px;	
	margin:5% 0;
	}

.dropdown{ display:block; width:70%; height:40px;margin:0 15%; font-size:20px; background-color:#c7e8fa; color:#333; /*padding:0 3%;*/
 font-family: "微軟正黑體",Microsoft JhengHei,"Helvetica Neue", Helvetica, Arial, sans-serif; text-align:center;
	}

.choose{ display:block; line-height:0; padding-top:3%; color: #369;}
	
.tip1{ display:block; width:100%; margin:5% 0 ; text-align:center; color:#505050;}
	
.dropdown option{ background-color:#FFF; }


	
/*---------------------------------------------------Page4---------------------------------------------------*/
.title{font-size:24px; text-align:center; color:#505050;}
.list{display:block;width:80%; font-size:19px; text-align:center; margin:5%  10%; color:#369;}
.list span{display:block;width:80%; font-size:20px; text-align:center;color:#505050; font-weight:normal;
border-bottom: 2px solid #6caee0; margin:0 10% ; background-color:#e0f1f4; }
.listW{ display:block;width:80%; font-size:18px; text-align:center; color:#333; margin:10% 10% 0 10%;}
.title2{font-size:24px; text-align:center; color:#505050; margin-top:5%;}







@media screen and (min-width: 1000px) and (max-width: 1334px) {
	.top{
	width: 100%;
	min-height:330px;
	background: url(../images/topBG1334.png) top center no-repeat;
	/*background-size: contain;*/
	}
.login { 
		padding: 0 20px 20px;
	}
}

@media screen and (min-width: 600px) and (max-width: 999px) {
	.top{
	width: 100%;
	min-height:320px;
	background: url(../images/topBG999.png) top center no-repeat;
	/*background-size: contain;*/
	}
.login { 
		padding: 0 20px 20px;
	}
}




@media screen and (min-width: 320px) and (max-width: 599px) {
	.top{
	width: 100%;
	min-height:235px;
	background: url(../images/topBG599.png) top center no-repeat;
	/*background-size: contain;
	/*background-size: cover;*/
	}

.content{
	display: block;
	width: 100%;
	padding: 0;	
}

.GFlogin{width:100%; float: left; font-size:20px;padding: 4% 0; margin-bottom:8%; }	
.GFplus{ width:100%; float: left; font-size:20px;padding: 4% 0; }
	
.friendQR{
	width: 30%;
	height: 120px;
	float: left;
	background: url(../images/QRcord.jpg) center no-repeat;
	background-size: contain;
	margin:3% auto;
}

.friendW{
	width: 70%;
	padding: 1% 0;
	line-height: 30px;
	font-size:17px;
	margin:5% auto;
}
	
.login h1 {
		text-align:justify;
		line-height: 36px;	
	}
	
.step{
	font-size:20px;
	margin: 10% 0;
	padding: 0.2% 0;
	}
	
.stepcolor{
	font-size:24px;
	padding:0.2% 1.5% 0.5% 1.5%;
}
	
.action{
	margin:0 auto;
	padding: 10% 3%;
	text-align: justify;	
	line-height:30px;
}

.away{margin:10% 0 3% 0;}

.inwords{ font-size:16px; width:100%;}

.apply{
	width: 100%;
	margin:0 auto;
	padding:10% 0 4% 0;
}

.remember_me{
	width: 100%;
}


.exchang{display:block; width:100%; margin:1% 0;font-size:17px; margin:2% 0 4% 0;overflow:hidden;  line-height:30px; background-color: #ebe3c7;}
	
.exchang li{text-align:center;  }
.ex{  display:block; width:97%; margin:0 auto; margin:1% 1.5%;  }
.exGF{display:block; float:left; width:97%; background-color:#B1B479;margin-left:1.5%; color:#FFF;}
.exGF2{ display:block; float:right;width:97%; background-color:#B1B479;margin-right:1.5%; color:#FFF;}
.exGFborder{ display:inline-block; float:left; width:97%; margin-left:1.5%;  line-height:25px; font-size:15px;}
.exGF2border{ display:inline-block; float:left; width:97%; margin-left:1.5%; line-height:25px; font-size:15px;}




/*.login input[type=text], .login input[type=password] { font-size:14px;}*/
   
.nextstep2{
	width:30%;
	height:30px;
	padding:1% 7% ;
	margin:15% auto 5% ;
	font-size:17px;
	}
   
   .relogin{
	width:30%;
	height:30px;
	padding:1% 7% ;
	margin:10% 0% 0 5% ;
	font-size:17px;
	}

.nextstep{
	width:30%;
	height:30px;
	padding:1% 7% ;
	margin:10% 5% 0  0% ;
	font-size:17px;
	}

/*---------------------------------------------------Page3---------------------------------------------------*/
.onerow{
  width:90%;
  margin:0 5%;
  padding:  2% 0;
  color: #404040;
  border:none;
  outline:none;
  outline:none;
  box-shadow:none;
	}
.onerow span{
	width:100%;
	float:left;
	text-align:center;
	font-size:17px;	
	margin:5% 0 10% 0;
	}

.dropdown{ display:block; width:100%; height:40px;margin:0 auto; font-size:20px; background-color:#c6deeb; color:#333; padding:0 3%;
 font-family: "微軟正黑體",Microsoft JhengHei,"Helvetica Neue", Helvetica, Arial, sans-serif;
	}

.choose{ padding-top:5%;}

.tip1{ width:90%; font-size:15px; text-align:left; text-align:justify;margin:5% 5% 5% 5%; }


	/*---------------------------------------------------Page4---------------------------------------------------*/
.title{font-size:20px; }
.list{display:block;width:100%; font-size:16px;  color:#369; margin:10% 0 0 0;}
.list span{display:block;width:100%; font-size:17px;}
.listW{ display:block;width:100%; font-size:15px; margin:10% 0; text-align:left; text-align:justify;}



	}



